@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-accent: #ff6b35;
  --color-accent-dark: #e2531f;
}

a {
  color: inherit;
  text-decoration: inherit;
}
