@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

a {
  color: inherit;
  text-decoration: inherit;
}
